body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
/*
#outerContainer{
	display:flex; 
	flex-wrap:wrap;
}

#player {
    width:960px!important;
    height:540px!important;
	flex:1;
	max-width:90%;
}
*/


#controlPanel {
	display:flex;
	height:50px;
	justify-content: flex-end;
}


.clsButton {
	width:10%;
}

.subtitleContainerCls {
	padding: 10px;
	font-size: 300%;
	min-height:100px;
}

.subtitleOuterContainerCls {
    display: flex;
    justify-content: center;
    align-items: center;
    width:960px!important;	
}

video::-webkit-media-text-track-display {
  font-size: 200%;
}